---
name: Build Docker Images (Reusable)

on:
  workflow_call:
    inputs:
      ref:
        type: string
        required: false
        default: ${{ github.ref }}
        description: Git ref to checkout
      debug:
        type: boolean
        required: false
        default: false
        description: |
          Enable upterm debugging

          NOTE: only available when running locally with netkos/act
      components:
        type: string
        required: false
        description: |-
          The list of components to build images for, formatted as a space-separated list of strings.

          Defaults to: apiext emissary kat-client kat-server test-auth test-shadow test-stats
        default: >-
          apiext
          emissary
          kat-client
          kat-server
          test-auth
          test-shadow
          test-stats
      artifact-bundle-prefix:
        type: string
        required: true
        description: Prefix for arch-specific artifact bundle name

    outputs:
      components:
        value: ${{ jobs.build-images.outputs.components }}
        description: >-
          The list of components images were built for, formatted as a space-separated list of strings.
      artifact-id:
        value: ${{ jobs.build-images.outputs.artifact-id }}
        description: GitHub ID of the built image artifact(s)
      artifact-url:
        value: ${{ jobs.build-images.outputs.artifact-url }}
        description: >-
          URL to download the built images artifact. Can be used in many scenarios
          such as linking to images built by a specific CI run in issues or pull requests.
          Users must be logged-in in order for this URL to work. This URL is valid as
          long as the images artifact has not expired or the images artifact, run
          or repository have not been deleted.
      artifact-digest:
        value: ${{ jobs.build-images.outputs.artifact-digest }}
        description: SHA-256 digest of the built images artifact

permissions:
  contents: read

jobs:
  build-images:
    name: Build and Save ${{ matrix.arch }} Images
    runs-on: ${{ matrix.runner }}
    strategy:
      fail-fast: false
      matrix:
        arch:
          - amd64
          - arm64
        include:
          - arch: amd64
            runner: ubuntu-24.04
          - arch: arm64
            runner: ubuntu-24.04-arm

    outputs:
      components: ${{ inputs.components }}
      artifact-id: ${{ steps.upload-image-tarballs.outputs.artifact-id }}
      artifact-url: ${{ steps.upload-image-tarballs.outputs.artifact-url }}
      artifact-digest: ${{ steps.upload-image-tarballs.outputs.artifact-digest }}

    steps:
      - id: checkout-repo
        name: Checkout
        uses: actions/checkout@v5
        with:
          ref: ${{ inputs.ref }}
          fetch-depth: 0

      - id: install-deps
        name: Install Deps
        uses: ./.github/actions/setup-deps
        if: ${{ steps.checkout-repo.outcome == 'success' }}

      - id: setup-docker-buildx
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        if: ${{ steps.install-deps.outcome == 'success' }}

      - id: install-goreleaser
        name: Install GoReleaser
        if: ${{ steps.setup-docker-buildx.outcome == 'success' }}
        uses: goreleaser/goreleaser-action@v6
        with:
          version: ~> v2
          install-only: true
          distribution: goreleaser

      - id: generate-goreleaser-config
        name: Generate GoReleaser Config
        if: ${{ steps.install-goreleaser.outcome == 'success' }}
        continue-on-error: ${{ inputs.debug }}
        run: >-
          uv run -- python make-gorel.py
          --header gorel.prologue
          --arch ${{ matrix.arch }}
          > .goreleaser.yaml

      - id: goreleaser-check
        name: GoReleaser Check(s)
        if: ${{ steps.generate-goreleaser-config.outcome == 'success' }}
        continue-on-error: ${{ inputs.debug }}
        shell: bash
        run: |
          goreleaser check
          goreleaser healthcheck

      - id: goreleaser-build
        name: GoReleaser Build
        if: ${{ steps.goreleaser-check.outcome == 'success' }}
        continue-on-error: ${{ inputs.debug }}
        run: |
          goreleaser release --clean --snapshot

      - id: save-image-tarballs
        name: Save Docker Image to Tarball and Upload
        if: ${{ steps.goreleaser-build.outcome == 'success' }}
        continue-on-error: ${{ inputs.debug }}
        shell: bash
        env:
          JQ_FILTER: |-
            map(
                select(
                    # filter tags that look like version numbers suffixed with the short-sha
                    # of the current commit and the current architecture (e.x. amd64 or arm64)
                    (.Tag | test("^v?[0-9][.].+-\(env.SHORT_SHA)[^-]*-${{ matrix.arch }}"; "i"))

                    # filter for images from the 'ghcr.io/emissary-ingress' repository that
                    # also match one of the components goreleaser was configured to build for
                    and (.Repository | test("^ghcr.io/emissary-ingress/(\(env.COMPONENTS))"; "i"))
                )

                # format the standard 'repository:tag' specifier
                # for each image that matched the filter critera
                | "\(.Repository):\(.Tag)"

            # print the filtered image tags as a tab-separated list (because the @sh function
            # will wrap each value in single quotes, which is even less helpful for script use)
            ) | @tsv
        run: |
          set -euo pipefail

          trap 'STATUS=${?}; echo >&2 "${0}: Error on line "${LINENO}": ${BASH_COMMAND}"; exit ${STATUS}' ERR

          mkdir -p ${{ github.workspace }}/artifacts/images

          docker images

          export SHORT_SHA="${GITHUB_SHA:0:8}"
          export COMPONENTS="$(echo '${{ inputs.components }}' | tr '[:space:]' '|')"

          COMPONENT_IMAGES=($(docker images --no-trunc --format json | jq -sr "${JQ_FILTER}" | tr '\t' ' '))

          for IMAGE in ${COMPONENT_IMAGES[@]}; do
              COMPONENT="$(echo "${IMAGE}" | tr ':' '/' | cut -d'/' -f3)"
              IMAGE_PATH="${{ github.workspace }}/artifacts/images/${COMPONENT}-${{ matrix.arch }}-image.tar"

              docker save "${IMAGE}" -o "${IMAGE_PATH}" \
              || { EXIT_CODE=$?; echo "failed to save image tarball for: ${COMPONENT}" 1>&2; exit ${EXIT_CODE}; }

              printf 'saved image tarball:\n\tcomponent: %s\n\tpath: %s\n\timage: %s\n' "${COMPONENT}" "${IMAGE_PATH}" "${IMAGE}"
          done

      - id: upload-image-tarballs
        name: Upload Docker Image Artifact
        if: ${{ steps.save-image-tarballs.outcome == 'success' }}
        continue-on-error: ${{ inputs.debug }}
        uses: actions/upload-artifact@v5
        with:
          name: ${{ inputs.artifact-bundle-prefix }}-${{ matrix.arch }}
          retention-days: 7
          if-no-files-found: error
